body
    +light
    color: $text-color
    line-height: 1.15
.button-o
    background-color: white
    border: 2px solid $primary
    padding: 17px 22px
    font-size: 12px
    text-transform: uppercase
    +bold
    text-decoration: none
    color: $primary
    